<div class="content">
    <div class="form-cont">
        <div class="messageCont">
            asd
        </div>
        <div class="messageText">
            <form action="#" method="post" id="sendForm">
                <div class="form-g">
                    <div class="f-control">
                        <textarea name="content" required class="form-control mb-4" placeholder="Your Message" name="message"></textarea>
                    </div>
                    <div class="f-control">
                        <button class="btn btn-success" type="submit"><i class="fa fa-paper-plane"></i> </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>