<header class="header"> 
    <div class="header_cont">
        <div class="logo">
            <a href="/"><i class="fa fa-paper-plane"></i> Petsenger</a>
        </div>
        <nav class="nav">
                <div class="userInfo">
                <span><i class="fa fa-user"></i> <%=usrdata.nickname%></span>
                </div>
            <ul>
                <li><a href="/logout">Logout</a> </li>
            </ul>
        </nav>
    </div>
</header>