<div class="sidebar">
    <div class="sidebar_cont">
        <div class="searchMessage">
            <span class="searchIcon"> <i class="fa fa-search"></i> </span>
            <form action="" class="searchSideForm">
                <input type="text" placeholder="Search Message">
            </form>
        </div>
        <div class="sideUserCont">
            
        </div>
    </div>
</div>