.msgDiv{ background: #cddcff; 
    padding: 10px; 
    border-radius: 5px; 
    display: flex;  
    justify-content: space-between; 
    align-items: center;
    margin: 0 0 14px;
}
.userIcon{}
.userContent{
    width: 100%;
    margin-left: 25px;
    color: #535353;
}
.userIcon span{
    display: block;
    width: 50px;
    height: 50px;
    background: #b488e0;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 29px;
}
h1{
    color: #625858;
    font-size: 24px;
    margin: 0 0 2rem;
}

.form-cont{
    max-width: 600px; 
    margin: 1rem auto; 
    background-color: #ededed;
}

.msgDiv h6{font-weight: bold;}
.msgDiv p{margin-bottom: 0;}
