<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header"> 
        <div class="header_cont">
            <div class="logo">
                <a href="/"><i class="fa fa-paper-plane"></i> Petsenger</a>
            </div>
            <nav class="nav">
                    <div class="userInfo">
                    <span><i class="fa fa-user"></i> Juphet</span>
                    </div>
                <ul>
                    <li><a href="/logout">Logout</a> </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="divider">
        <div class="sidebar">
            te
        </div>
        <div class="content">
            <div class="form-cont">
                <div class="messageText">
                    <form action="#" method="post" id="sendForm">
                        <div class="form-g">
                            <div class="f-control">
                                <textarea name="content" required class="form-control mb-4" placeholder="Your Message" name="message"></textarea>
                            </div>
                            <div class="f-control">
                                <button class="btn btn-success" type="submit"><i class="fa fa-paper-plane"></i> </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js "></script>
    <script src="js/app.js"></script>
    <script src="js/screen.js"></script>
</body>
</html>