<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %> </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    
    <div class="container">
         <div class="loginform">
            <div class="col-md-12">
                <h1><i class="fa fa-paper-plane"></i> Petsenger</h1>
            </div>
             <div>
                <div class="row">
                    <div class="col-md-12">
                        <form action="/process-auth" method="post">
                            <input type="text" name="nickname" placeholder="Your Nickname">
                            <button class="btn btn-success"><i class="fa fa-check"></i> Login</button>
                        </form>
                    </div>
                </div>
             </div>
         </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js "></script>
</body>
</html>